{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="icon" href="{% static "favicon.ico" %}">
    <title>详情页</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="{% static "background3.jpg" %}">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color: bisque">  ——于雨琛-Acfun！——  </a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="../../content/0">视频列表</a></li>
                <li><a href="../../authorlist/0">作者列表</a></li>
                <li><a href="../../Search">搜索</a></li>
            </ul>
        </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12" style="font-size: 50px">{{ data.视频名称 }}</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 col-lg-1" style="font-size: 20px"></div>
            <div class="col-md-11 col-lg-11" style="font-size: 20px">{{ data.上传日期 }}</div>
        </div><br>
        <div class="row">
            <div class="col-md-1 col-lg-1"></div>
            <div class="col-md-10 col-lg-10" >
                <a href="{{ data.视频链接 }}">
                    <img alt="{{ data.视频名称 }}" src="{{ data.封面照片 }}" style="width: 100%;height: 100%">
                </a>
            </div>
            <div class="col-md-1 col-lg-1"></div>
        </div><br><br>
        <div class="row" style="font-size: 25px; color: black">
            <div class="col-md-2 col-lg-2" >
                <p>{{ data.播放量 }}次播放</p>
            </div>
            <div class="col-md-2 col-lg-2" >
                <p>{{ data.弹幕数 }}条弹幕</p>
            </div>
            <div class="col-md-2 col-lg-2" >
                <p>{{ data.评论数 }}条评论</p>
            </div>
            <div class="col-md-2 col-lg-2" >
                <p><span class="icon" style="background-image: url({% static "like.svg" %}); width: 30px;margin-right: 4px;background-size: 100% 100%;display: inline-block;position: relative;vertical-align: middle;font-size: 14px;line-height: 30px;height: 30px;"></span>  {{ data.点赞数 }}</p>
            </div>
            <div class="col-md-2 col-lg-2" >
                <p><span class="icon" style="background-image: url({% static "stow.svg" %}); width: 30px;margin-right: 4px;background-size: 100% 100%;display: inline-block;position: relative;vertical-align: middle;font-size: 14px;line-height: 30px;height: 30px;"></span>  {{ data.收藏数 }}</p>
            </div>
            <div class="col-md-2 col-lg-2" >
                <p><span class="icon" style="background-image: url({% static "banana.svg" %}); width: 30px;margin-right: 4px;background-size: 100% 100%;display: inline-block;position: relative;vertical-align: middle;font-size: 14px;line-height: 30px;height: 30px;"></span>  {{ data.香蕉数 }}</p>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-1 col-lg-1" >
                <a href="../../author/{{ data.up主名称 }}">
                    <img alt="{{ data.up主名称 }}" src="{{ data.up主头像 }}" style="width: 80px;height: 80px">
                </a>
            </div>
            <div class="col-md-11 col-lg-11" style="font-size: 25px">
                <br>
                <a href="../../author/{{ data.up主名称 }}">
                    <p>{{ data.up主名称 }}</p>
                </a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12" style="font-size: 25px">简介：{{ data.简介 }}</div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12" style="font-size: 25px">评论1:  <label for="">{{ data.评论1 }}</label></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12" style="font-size: 25px">评论2:  <label for="">{{ data.评论2 }}</label></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12" style="font-size: 25px">评论3:  <label for="">{{ data.评论3 }}</label></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12" style="font-size: 25px">评论4:  <label for="">{{ data.评论4 }}</label></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 col-lg-12" style="font-size: 25px">评论5:  <label for="">{{ data.评论5 }}</label></div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</body>
</html>